Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.libs
*.o
*.la
stamp-h1
*.swp
*.so
*.lo
src/bin/wrtctl
src/bin/wrtctld
test/stunnel.pem
test/*/
test/*.log
test/test.sh
